@{
    ViewData["Title"] = "Blog";
}
<section class="industries-wrapper services-wrapper">
	<div class="container">
		<div class="industries-sec">
			<div class="thm-heading">
				<span class="sub-heading">Industry</span>
				<h2>Blog / Articles</h2>

			</div>
		</div>
		<div class="industries-tabs">
			<ul class="nav nav-pills " id="pills-tab" role="tablist">
				<li class="nav-item" role="presentation">
					<button class="nav-link active" id="pills-estate-tab" data-bs-toggle="pill"
							data-bs-target="#pills-estate" type="button" role="tab" aria-controls="pills-estate"
							aria-selected="true">
						Web Development
					</button>
				</li>
				<li class="nav-item" role="presentation">
					<button class="nav-link" id="pills-education-tab" data-bs-toggle="pill"
							data-bs-target="#pills-education" type="button" role="tab" aria-controls="pills-education"
							aria-selected="false">
						IT Certifications
					</button>
				</li>
				<li class="nav-item" role="presentation">
					<button class="nav-link" id="pills-ecommerce-tab" data-bs-toggle="pill"
							data-bs-target="#pills-ecommerce" type="button" role="tab" aria-controls="pills-ecommerce"
							aria-selected="false">
						Leadership
					</button>
				</li>
				<li class="nav-item" role="presentation">
					<button class="nav-link " id="pills-finTech-tab" data-bs-toggle="pill"
							data-bs-target="#pills-finTech" type="button" role="tab" aria-controls="pills-finTech"
							aria-selected="false">
						Data Science
					</button>
				</li>
				<li class="nav-item" role="presentation">
					<button class="nav-link" id="pills-travels-tab" data-bs-toggle="pill"
							data-bs-target="#pills-travels" type="button" role="tab" aria-controls="pills-travels"
							aria-selected="false">
						Business Analytics & Intelligence
					</button>
			</ul>
		</div>
		<div class=" industries-tabs-sec blog-tab-padding">

			<div class="tab-content" id="pills-tabContent">
				<div class="tab-pane fade show active" id="pills-estate" role="tabpanel"
					 aria-labelledby="pills-estate-tab">
					<div class="blog-list-sec">
						<div class="row">
							<div class="col-lg-4">
								<div class="blog-list-right">
									<div class="blog-list-right-con thm-heading blog-list-item-con">
										<h5>Trending Article</h5>
										<p>
											Technical, payment or other
											platform issues
										</p>
										<div class="blog-list-sub">
											<div class="contact-list-con">
												<img src="@Url.Content("/assets/images/author-icon.svg")" alt="">
												<span>Author Name</span>
											</div>
											<div class="contact-list-con">
												<img src="@Url.Content("/assets/images/dates-icon.svg")" alt="">
												<span>05 June 2024</span>
											</div>
										</div>
										<button class="thm-btn blog-list-btn blog-right-btn"> 	Read More</button>
									</div>
									<div class="blog-list-right-con thm-heading blog-list-item-con">
										<h5>Trending Article</h5>
										<p>
											Technical, payment or other
											platform issues
										</p>
										<div class="blog-list-sub">
											<div class="contact-list-con">
												<img src="@Url.Content("/assets/images/author-icon.svg")" alt="">
												<span>Author Name</span>
											</div>
											<div class="contact-list-con">
												<img src="@Url.Content("/assets/images/dates-icon.svg")" alt="">
												<span>05 June 2024</span>
											</div>
										</div>
										<button class="thm-btn blog-list-btn blog-right-btn"> 	Read More</button>
									</div>
									<div class="blog-list-right-con thm-heading blog-list-item-con">
										<h5>Trending Article</h5>
										<p>
											Technical, payment or other
											platform issues
										</p>
										<div class="blog-list-sub">
											<div class="contact-list-con">
												<img src="@Url.Content("/assets/images/author-icon.svg")" alt="">
												<span>Author Name</span>
											</div>
											<div class="contact-list-con">
												<img src="@Url.Content("/assets/images/dates-icon.svg")" alt="">
												<span>05 June 2024</span>
											</div>
										</div>
										<button class="thm-btn blog-list-btn blog-right-btn"> 	Read More</button>
									</div>
									<div class="blog-list-right-con thm-heading blog-list-item-con">
										<h5>Trending Article</h5>
										<p>
											Technical, payment or other
											platform issues
										</p>
										<div class="blog-list-sub">
											<div class="contact-list-con">
												<img src="@Url.Content("/assets/images/author-icon.svg")" alt="">
												<span>Author Name</span>
											</div>
											<div class="contact-list-con">
												<img src="@Url.Content("/assets/images/dates-icon.svg")" alt="">
												<span>05 June 2024</span>
											</div>
										</div>
										<button class="thm-btn blog-list-btn blog-right-btn"> 	Read More</button>
									</div>
								</div>
							</div>
							<div class="col-lg-8">
								<div class="blog-list-con">
									<div class="blog-list-item">
										<div class="software-img">
											<img src="@Url.Content("/assets/images/blog-img1.jpg")" alt="">
										</div>
										<div class="blog-list-item-con thm-heading">
											<h4>
												Technical, payment or other
												platform issues
											</h4>
											<p>Thank you for enrolling this course! I do my best to update the course now and then and give</p>
											<div class="blog-list-sub">
												<div class="contact-list-con">
													<img src="@Url.Content("/assets/images/author-icon.svg")" alt="">
													<span>Author Name</span>
												</div>
												<div class="contact-list-con">
													<img src="@Url.Content("/assets/images/dates-icon.svg")" alt="">
													<span>05 June 2024</span>
												</div>
											</div>

											<button class="thm-btn bg-dark blog-list-btn"> 	Read More</button>
										</div>
									</div>
									<div class="blog-list-item">
										<div class="software-img">
											<img src="@Url.Content("/assets/images/blog-img2.jpg")" alt="">
										</div>
										<div class="blog-list-item-con thm-heading">
											<h4>
												Technical, payment or other
												platform issues
											</h4>
											<p>Thank you for enrolling this course! I do my best to update the course now and then and give</p>
											<div class="blog-list-sub">
												<div class="contact-list-con">
													<img src="@Url.Content("/assets/images/author-icon.svg")" alt="">
													<span>Author Name</span>
												</div>
												<div class="contact-list-con">
													<img src="@Url.Content("/assets/images/dates-icon.svg")" alt="">
													<span>05 June 2024</span>
												</div>
											</div>

											<button class="thm-btn bg-dark blog-list-btn"> 	Read More</button>
										</div>
									</div>
									<div class="blog-list-item">
										<div class="software-img">
											<img src="@Url.Content("/assets/images/blog-img3.jpg")" alt="">
										</div>
										<div class="blog-list-item-con thm-heading">
											<h4>
												Technical, payment or other
												platform issues
											</h4>
											<p>Thank you for enrolling this course! I do my best to update the course now and then and give</p>
											<div class="blog-list-sub">
												<div class="contact-list-con">
													<img src="@Url.Content("/assets/images/author-icon.svg")" alt="">
													<span>Author Name</span>
												</div>
												<div class="contact-list-con">
													<img src="@Url.Content("/assets/images/dates-icon.svg")" alt="">
													<span>05 June 2024</span>
												</div>
											</div>

											<button class="thm-btn bg-dark blog-list-btn"> 	Read More</button>
										</div>
									</div>
									<div class="blog-list-item">
										<div class="software-img">
											<img src="@Url.Content("/assets/images/blog-img4.jpg")" alt="">
										</div>
										<div class="blog-list-item-con thm-heading">
											<h4>
												Technical, payment or other
												platform issues
											</h4>
											<p>Thank you for enrolling this course! I do my best to update the course now and then and give</p>
											<div class="blog-list-sub">
												<div class="contact-list-con">
													<img src="@Url.Content("/assets/images/author-icon.svg")" alt="">
													<span>Author Name</span>
												</div>
												<div class="contact-list-con">
													<img src="@Url.Content("/assets/images/dates-icon.svg")" alt="">
													<span>05 June 2024</span>
												</div>
											</div>

											<button class="thm-btn bg-dark blog-list-btn"> 	Read More</button>
										</div>
									</div>
									<div class="blog-list-item">
										<div class="software-img">
											<img src="@Url.Content("/assets/images/blog-img5.jpg")" alt="">
										</div>
										<div class="blog-list-item-con thm-heading">
											<h4>
												Technical, payment or other
												platform issues
											</h4>
											<p>Thank you for enrolling this course! I do my best to update the course now and then and give</p>
											<div class="blog-list-sub">
												<div class="contact-list-con">
													<img src="@Url.Content("/assets/images/author-icon.svg")" alt="">
													<span>Author Name</span>
												</div>
												<div class="contact-list-con">
													<img src="@Url.Content("/assets/images/dates-icon.svg")" alt="">
													<span>05 June 2024</span>
												</div>
											</div>

											<button class="thm-btn bg-dark blog-list-btn"> 	Read More</button>
										</div>
									</div>
									<div class="blog-list-item">
										<div class="software-img">
											<img src="@Url.Content("/assets/images/blog-img6.jpg")" alt="">
										</div>
										<div class="blog-list-item-con thm-heading">
											<h4>
												Technical, payment or other
												platform issues
											</h4>
											<p>Thank you for enrolling this course! I do my best to update the course now and then and give</p>
											<div class="blog-list-sub">
												<div class="contact-list-con">
													<img src="@Url.Content("/assets/images/author-icon.svg")" alt="">
													<span>Author Name</span>
												</div>
												<div class="contact-list-con">
													<img src="@Url.Content("/assets/images/dates-icon.svg")" alt="">
													<span>05 June 2024</span>
												</div>
											</div>

											<button class="thm-btn bg-dark blog-list-btn"> 	Read More</button>
										</div>
									</div>
									<div class="blog-list-item">
										<div class="software-img">
											<img src="@Url.Content("/assets/images/blog-img7.jpg")" alt="">
										</div>
										<div class="blog-list-item-con thm-heading">
											<h4>
												Technical, payment or other
												platform issues
											</h4>
											<p>Thank you for enrolling this course! I do my best to update the course now and then and give</p>
											<div class="blog-list-sub">
												<div class="contact-list-con">
													<img src="@Url.Content("/assets/images/author-icon.svg")" alt="">
													<span>Author Name</span>
												</div>
												<div class="contact-list-con">
													<img src="@Url.Content("/assets/images/dates-icon.svg")" alt="">
													<span>05 June 2024</span>
												</div>
											</div>

											<button class="thm-btn bg-dark blog-list-btn"> 	Read More</button>
										</div>
									</div>

								</div>

							</div>

						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="pills-education" role="tabpanel"
					 aria-labelledby="pills-education-tab">
					<div class="industries-tab-con">
						<div class="row">
							<div class="col-lg-5">

								<div class="industries-img">
									<img src="@Url.Content("/assets/images/management-bannerimg.svg")" alt="">
								</div>
							</div>
							<div class="col-lg-7">
								<div class="thm-heading">
									<h2>Management platform</h2>
									<p>
										It is a long established fact that a reader will be distracted by the
										readable
										content of a page when looking at its layout. It is a long established
										fact that a
										reader will be distracted by the readable content.
									</p>
									<div class="industries-list">
										<ul>
											<li>
												It is a long established fact that a reader will be distracted
												by the readable content of a page when looking at its layout.
											</li>
											<li>
												It is a long established fact that a reader will be distracted.
											</li>
											<li>
												It is a long established fact that a reader will be distracted
												by the readable content of a page when looking at its layout.
											</li>
											<li>
												It is a long established fact that a reader will be distracted.
											</li>
										</ul>
									</div>
								</div>
							</div>

						</div>

					</div>
				</div>
				<div class="tab-pane fade" id="pills-ecommerce" role="tabpanel"
					 aria-labelledby="pills-ecommerce-tab">
					<div class="industries-tab-con">
						<div class="row">
							<div class="col-lg-5">

								<div class="industries-img">
									<img src="@Url.Content("/assets/images/management-bannerimg.svg")" alt="">
								</div>
							</div>
							<div class="col-lg-7">
								<div class="thm-heading">
									<h2>Management platform</h2>
									<p>
										It is a long established fact that a reader will be distracted by the
										readable
										content of a page when looking at its layout. It is a long established
										fact that a
										reader will be distracted by the readable content.
									</p>
									<div class="industries-list">
										<ul>
											<li>
												It is a long established fact that a reader will be distracted
												by the readable content of a page when looking at its layout.
											</li>
											<li>
												It is a long established fact that a reader will be distracted.
											</li>
											<li>
												It is a long established fact that a reader will be distracted
												by the readable content of a page when looking at its layout.
											</li>
											<li>
												It is a long established fact that a reader will be distracted.
											</li>
										</ul>
									</div>
								</div>
							</div>

						</div>

					</div>
				</div>
				<div class="tab-pane fade " id="pills-finTech" role="tabpanel"
					 aria-labelledby="pills-finTech-tab">
					<div class="industries-tab-con">
						<div class="row">
							<div class="col-lg-5">

								<div class="industries-img">
									<img src="@Url.Content("/assets/images/management-bannerimg.svg")" alt="">
								</div>
							</div>
							<div class="col-lg-7">
								<div class="thm-heading">
									<h2>Management platform</h2>
									<p>
										It is a long established fact that a reader will be distracted by the
										readable
										content of a page when looking at its layout. It is a long established
										fact that a
										reader will be distracted by the readable content.
									</p>
									<div class="industries-list">
										<ul>
											<li>
												It is a long established fact that a reader will be distracted
												by the readable content of a page when looking at its layout.
											</li>
											<li>
												It is a long established fact that a reader will be distracted.
											</li>
											<li>
												It is a long established fact that a reader will be distracted
												by the readable content of a page when looking at its layout.
											</li>
											<li>
												It is a long established fact that a reader will be distracted.
											</li>
										</ul>
									</div>
								</div>
							</div>

						</div>

					</div>
				</div>
				<div class="tab-pane fade" id="pills-travels" role="tabpanel"
					 aria-labelledby="pills-travels-tab">
				</div>
			</div>
			<div class="blog-navigation">
				<nav aria-label="Page navigation">
					<ul class="pagination">
						<li class="page-item"><a class="page-link text-dark" href="#"> <img src="@Url.Content("/assets/images/navright.svg")" alt=""> Back</a></li>
						<li class="page-item"><a class="page-link" href="#">1</a></li>
						<li class="page-item"><a class="page-link" href="#">2</a></li>
						<li class="page-item"><a class="page-link" href="#">3</a></li>
						<li class="page-item"><a class="page-link  text-dark" href="#"> Next <img src="@Url.Content("/assets/images/navleft.svg")" alt=""> </a></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</section>