
@{
    ViewData["Title"] = "Industry";
}
<section class="banner-inner-wrapper">
	<div class="container">
		<div class="banner-inner-sec industry-bg">
			<div class="banner-inner-header">
				<div class="row">
					<div class="col-lg-6">
						<div class="banner-inner-con ">
							<span class="sub-heading">Industry</span>
							<div class="thm-heading">
								<h2>Real Estate software development</h2>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="banner-innersub-con">
							<div class="thm-heading">
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
									incididunt ut labore et dolore magna aliqua. exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>
<section class="industries-wrapper services-wrapper">
	<div class="container">
		<div class="industries-sec">
			<div class="thm-heading">
				<h2>Real estate tech innovation</h2>
				<p>
					It is a long established fact that a reader will be distracted by the readable
					content <br> of a page when looking at its layout. It is a long established fact that a
					reader will <br> be distracted by the readable content.
				</p>
			</div>
		</div>
		<div class="industries-tabs">
			<ul class="nav nav-pills " id="pills-tab" role="tablist">
				<li class="nav-item" role="presentation">
					<button class="nav-link active" id="pills-estate-tab" data-bs-toggle="pill"
							data-bs-target="#pills-estate" type="button" role="tab" aria-controls="pills-estate"
							aria-selected="true">
						Management platform
					</button>
				</li>
				<li class="nav-item" role="presentation">
					<button class="nav-link" id="pills-education-tab" data-bs-toggle="pill"
							data-bs-target="#pills-education" type="button" role="tab" aria-controls="pills-education"
							aria-selected="false">
						Digitalization Platform
					</button>
				</li>
				<li class="nav-item" role="presentation">
					<button class="nav-link" id="pills-ecommerce-tab" data-bs-toggle="pill"
							data-bs-target="#pills-ecommerce" type="button" role="tab" aria-controls="pills-ecommerce"
							aria-selected="false">
						P2P Rental platform
					</button>
				</li>
				<li class="nav-item" role="presentation">
					<button class="nav-link " id="pills-finTech-tab" data-bs-toggle="pill"
							data-bs-target="#pills-finTech" type="button" role="tab" aria-controls="pills-finTech"
							aria-selected="false">
						Digital Access and Security Management
					</button>
				</li>

			</ul>
		</div>
		<div class="services-sec industries-tabs-sec">

			<div class="tab-content" id="pills-tabContent">
				<div class="tab-pane fade show active" id="pills-estate" role="tabpanel"
					 aria-labelledby="pills-estate-tab">
					<div class="industries-tab-con">
						<div class="row">
							<div class="col-lg-5">

								<div class="industries-img">
									<img src="@Url.Content("/assets/images/management-bannerimg.svg")" alt="">
								</div>
							</div>
							<div class="col-lg-7">
								<div class="thm-heading">
									<h2>Management platform</h2>
									<p>
										It is a long established fact that a reader will be distracted by the
										readable
										content of a page when looking at its layout. It is a long established
										fact that a
										reader will be distracted by the readable content.
									</p>
									<div class="industries-list">
										<ul>
											<li>
												It is a long established fact that a reader will be distracted
												by the readable content of a page when looking at its layout.
											</li>
											<li>
												It is a long established fact that a reader will be distracted.
											</li>
											<li>
												It is a long established fact that a reader will be distracted
												by the readable content of a page when looking at its layout.
											</li>
											<li>
												It is a long established fact that a reader will be distracted.
											</li>
										</ul>
									</div>
								</div>
							</div>

						</div>

					</div>
				</div>
				<div class="tab-pane fade" id="pills-education" role="tabpanel"
					 aria-labelledby="pills-education-tab">
					<div class="industries-tab-con">
						<div class="row">
							<div class="col-lg-5">

								<div class="industries-img">
									<img src="@Url.Content("/assets/images/management-bannerimg.svg")" alt="">
								</div>
							</div>
							<div class="col-lg-7">
								<div class="thm-heading">
									<h2>Management platform</h2>
									<p>
										It is a long established fact that a reader will be distracted by the
										readable
										content of a page when looking at its layout. It is a long established
										fact that a
										reader will be distracted by the readable content.
									</p>
									<div class="industries-list">
										<ul>
											<li>
												It is a long established fact that a reader will be distracted
												by the readable content of a page when looking at its layout.
											</li>
											<li>
												It is a long established fact that a reader will be distracted.
											</li>
											<li>
												It is a long established fact that a reader will be distracted
												by the readable content of a page when looking at its layout.
											</li>
											<li>
												It is a long established fact that a reader will be distracted.
											</li>
										</ul>
									</div>
								</div>
							</div>

						</div>

					</div>
				</div>
				<div class="tab-pane fade" id="pills-ecommerce" role="tabpanel"
					 aria-labelledby="pills-ecommerce-tab">
					<div class="industries-tab-con">
						<div class="row">
							<div class="col-lg-5">

								<div class="industries-img">
									<img src="@Url.Content("/assets/images/management-bannerimg.svg")" alt="">
								</div>
							</div>
							<div class="col-lg-7">
								<div class="thm-heading">
									<h2>Management platform</h2>
									<p>
										It is a long established fact that a reader will be distracted by the
										readable
										content of a page when looking at its layout. It is a long established
										fact that a
										reader will be distracted by the readable content.
									</p>
									<div class="industries-list">
										<ul>
											<li>
												It is a long established fact that a reader will be distracted
												by the readable content of a page when looking at its layout.
											</li>
											<li>
												It is a long established fact that a reader will be distracted.
											</li>
											<li>
												It is a long established fact that a reader will be distracted
												by the readable content of a page when looking at its layout.
											</li>
											<li>
												It is a long established fact that a reader will be distracted.
											</li>
										</ul>
									</div>
								</div>
							</div>

						</div>

					</div>
				</div>
				<div class="tab-pane fade " id="pills-finTech" role="tabpanel"
					 aria-labelledby="pills-finTech-tab">
					<div class="industries-tab-con">
						<div class="row">
							<div class="col-lg-5">

								<div class="industries-img">
									<img src="@Url.Content("/assets/images/management-bannerimg.svg")" alt="">
								</div>
							</div>
							<div class="col-lg-7">
								<div class="thm-heading">
									<h2>Management platform</h2>
									<p>
										It is a long established fact that a reader will be distracted by the
										readable
										content of a page when looking at its layout. It is a long established
										fact that a
										reader will be distracted by the readable content.
									</p>
									<div class="industries-list">
										<ul>
											<li>
												It is a long established fact that a reader will be distracted
												by the readable content of a page when looking at its layout.
											</li>
											<li>
												It is a long established fact that a reader will be distracted.
											</li>
											<li>
												It is a long established fact that a reader will be distracted
												by the readable content of a page when looking at its layout.
											</li>
											<li>
												It is a long established fact that a reader will be distracted.
											</li>
										</ul>
									</div>
								</div>
							</div>

						</div>

					</div>
				</div>

			</div>

		</div>
	</div>
</section>
<section class="ourwork-wrapper mb-0">
	<div class="container">
		<div class="ourwork-header">
			<div class="thm-heading">
				<h2>Explore Our Work</h2>
				<p>
					It is a long established fact that a reader will be distracted by the readable
					content <br> of a page when looking at its layout. It is a long established fact that a
					reader will <br> be distracted by the readable content.
				</p>
			</div>
			<a href="portfolio.html" class=" w-fit thm-btn bg-dark services-btn ms-lg-auto">
				See All Work<img src="@Url.Content("/assets/images/green-arrow.svg")" alt="">
			</a>
		</div>
		<div class="ourwork-sec">
			<div class="row">
				<div class="col-lg-4 col-md-6  col-sm-6">
					<a href="#">
						<div class="ourwork-item">
							<div class="ourwork-img">
								<img src="@Url.Content("/assets/images/ourwork-img1.jpg")" alt="">
							</div>
							<div class="ourwork-con">
								<div class="thm-heading">
									<h4>E4U Education Web</h4>
									<p>It is a long established fact that a reader will be distracte</p>
								</div>
								<span><img src="@Url.Content("/assets/images/dark-arrow.svg")" alt=""></span>
							</div>
						</div>
					</a>
				</div>
				<div class="col-lg-4 col-md-6  col-sm-6">
					<a href="#">
						<div class="ourwork-item">
							<div class="ourwork-img">
								<img src="@Url.Content("/assets/images/ourwork-img2.jpg")" alt="">
							</div>
							<div class="ourwork-con">
								<div class="thm-heading">
									<h4>E4U Education Web</h4>
									<p>It is a long established fact that a reader will be distracte</p>
								</div>
								<span><img src="@Url.Content("/assets/images/dark-arrow.svg")" alt=""></span>
							</div>
						</div>
					</a>
				</div>
				<div class="col-lg-4 col-md-6  col-sm-6">
					<a href="#">
						<div class="ourwork-item">
							<div class="ourwork-img">
								<img src="@Url.Content("/assets/images/ourwork-img3.jpg")" alt="">
							</div>
							<div class="ourwork-con">
								<div class="thm-heading">
									<h4>E4U Education Web</h4>
									<p>It is a long established fact that a reader will be distracte</p>
								</div>
								<span><img src="@Url.Content("/assets/images/dark-arrow.svg")" alt=""></span>
							</div>
						</div>
					</a>
				</div>
				<div class="col-lg-4 col-md-6  col-sm-6">
					<a href="#">
						<div class="ourwork-item">
							<div class="ourwork-img">
								<img src="@Url.Content("/assets/images/ourwork-img4.jpg")" alt="">
							</div>
							<div class="ourwork-con">
								<div class="thm-heading">
									<h4>E4U Education Web</h4>
									<p>It is a long established fact that a reader will be distracte</p>
								</div>
								<span><img src="@Url.Content("/assets/images/dark-arrow.svg")" alt=""></span>
							</div>
						</div>
					</a>
				</div>
				<div class="col-lg-4 col-md-6  col-sm-6">
					<a href="#">
						<div class="ourwork-item">
							<div class="ourwork-img">
								<img src="@Url.Content("/assets/images/ourwork-img1.jpg")" alt="">
							</div>
							<div class="ourwork-con">
								<div class="thm-heading">
									<h4>E4U Education Web</h4>
									<p>It is a long established fact that a reader will be distracte</p>
								</div>
								<span><img src="@Url.Content("/assets/images/dark-arrow.svg")" alt=""></span>
							</div>
						</div>
					</a>
				</div>
				<div class="col-lg-4 col-md-6  col-sm-6">
					<a href="#">
						<div class="ourwork-item">
							<div class="ourwork-img">
								<img src="@Url.Content("/assets/images/ourwork-img2.jpg")" alt="">
							</div>
							<div class="ourwork-con">
								<div class="thm-heading">
									<h4>E4U Education Web</h4>
									<p>It is a long established fact that a reader will be distracte</p>
								</div>
								<span><img src="@Url.Content("/assets/images/dark-arrow.svg")" alt=""></span>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="our-details-wrapper software-offerings">
	<div class="container">
		<div class="our-details-sec">
			<div class="our-details-con thm-heading text-center">
				<h2 class="text-white">Our Real Estate Software Offerings</h2>
				<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.  It is a long</p>
			</div>
			<div class="row">
				<div class="col-lg-6">
					<div class="our-details-con thm-heading">
						<div class="software-img">
							<img src="@Url.Content("/assets/images/software-img1.jpg")" alt="">
						</div>
						<h2>Mobile Real Estate Software Solutions</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Non blandit massa enim nec. Scelerisque viverra mauris in aliquam sem. At risus viverra adipiscing at in</p>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="our-details-con thm-heading">
						<div class="software-img">
							<img src="@Url.Content("/assets/images/software-img2.jpg")" alt="">
						</div>
						<h2>Mobile Real Estate Software Solutions</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Non blandit massa enim nec. Scelerisque viverra mauris in aliquam sem. At risus viverra adipiscing at in</p>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="our-details-con thm-heading">
						<div class="software-img">
							<img src="@Url.Content("/assets/images/software-img3.jpg")" alt="">
						</div>
						<h2>Mobile Real Estate Software Solutions</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Non blandit massa enim nec. Scelerisque viverra mauris in aliquam sem. At risus viverra adipiscing at in</p>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="our-details-con thm-heading">
						<div class="software-img">
							<img src="@Url.Content("/assets/images/software-img4.jpg")" alt="">
						</div>
						<h2>Mobile Real Estate Software Solutions</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Non blandit massa enim nec. Scelerisque viverra mauris in aliquam sem. At risus viverra adipiscing at in</p>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="our-details-con thm-heading">
						<div class="software-img">
							<img src="@Url.Content("/assets/images/software-img5.jpg")" alt="">
						</div>
						<h2>Mobile Real Estate Software Solutions</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Non blandit massa enim nec. Scelerisque viverra mauris in aliquam sem. At risus viverra adipiscing at in</p>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="our-details-con thm-heading">
						<div class="software-img">
							<img src="@Url.Content("/assets/images/software-img6.jpg")" alt="">
						</div>
						<h2>Mobile Real Estate Software Solutions</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Non blandit massa enim nec. Scelerisque viverra mauris in aliquam sem. At risus viverra adipiscing at in</p>
					</div>
				</div>
			</div>
			<div class="banner-btn thm-btn-sec">
				<button type="button" class="thm-light-btn">Have A Project?</button>
				<button class="thm-btn">Connect With us </button>
			</div>
		</div>
	</div>
</section>
<section class="partner-wrapper">
	<div class="container">
		<div class="partner-sec">
			<div class="thm-heading">
				<p>Trusted by the best in the world</p>
			</div>
			<div class="partnerlist">
				<ul>
					<li><img src="@Url.Content("/assets/images/partner1.svg")" alt=""></li>
					<li><img src="@Url.Content("/assets/images/partner2.svg")" alt=""></li>
					<li><img src="@Url.Content("/assets/images/partner3.svg")" alt=""></li>
					<li><img src="@Url.Content("/assets/images/partner4.svg")" alt=""></li>
					<li><img src="@Url.Content("/assets/images/partner5.svg")" alt=""></li>
				</ul>
			</div>
		</div>
	</div>
</section>
