
@{
    ViewData["Title"] = "OurTeam";
}
<section class="banner-inner-wrapper">
	<div class="container">
		<div class="banner-inner-sec our-inner-bg ps-0 pb-0">
			<div class="banner-inner-header ">
				<div class="row">
					<div class="col-lg-6">
						<div class="banner-inner-con">
							<span class="sub-heading">Our Team</span>
							<div class="thm-heading">
								<h2>We are a team of content writers who share their learnings</h2>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="banner-innersub-con">
							<div class="thm-heading">
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
									incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
									nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="connect-sec rounded-0 mb-0">
				<div class="ourwork-header">
					<div class="thm-heading">
						<h2>Meet Our Team</h2>
						<p>
							It is a long established fact that a reader will be distracted by the readable content <br>
							of a page when looking at its layout. It is a long.
						</p>
					</div>
					<button type="button" class="thm-btn bg-white services-btn ms-lg-auto text-dark">Connect With us <img src="@Url.Content("/assets/images/green-arrow.svg")" alt=""></button>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="services-wrapper bg-white">
	<div class="container">
		<div class="services-sec bg-transparent">
			<div class="our-team-list-sec">
				<div class="row">
					<div class="col-lg-4 col-md-6 col-sm-6">
						<div class="ourteam-con">
							<div class="ourteam-img">
								<img src="@Url.Content("/assets/images/ourteam-img1.png")" alt="">
								<span class="ourteam-logo"><img src="@Url.Content("/assets/images/outlogo.svg")" alt=""></span>
							</div>
							<div class="thm-heading">
								<h3>Luna Ava</h3>
								<p>Head of Operations</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-6">
						<div class="ourteam-con">
							<div class="ourteam-img">
								<img src="@Url.Content("/assets/images/ourteam-img2.png")" alt="">
								<span class="ourteam-logo"><img src="@Url.Content("/assets/images/outlogo.svg")" alt=""></span>
							</div>
							<div class="thm-heading">
								<h3>Luna Ava</h3>
								<p>Head of Operations</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-6">
						<div class="ourteam-con">
							<div class="ourteam-img">
								<img src="@Url.Content("/assets/images/ourteam-img3.png")" alt="">
								<span class="ourteam-logo"><img src="@Url.Content("/assets/images/outlogo.svg")" alt=""></span>
							</div>
							<div class="thm-heading">
								<h3>Luna Ava</h3>
								<p>Head of Operations</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-6">
						<div class="ourteam-con">
							<div class="ourteam-img">
								<img src="@Url.Content("/assets/images/ourteam-img1.png")" alt="">
								<span class="ourteam-logo"><img src="@Url.Content("/assets/images/outlogo.svg")" alt=""></span>
							</div>
							<div class="thm-heading">
								<h3>Luna Ava</h3>
								<p>Head of Operations</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-6">
						<div class="ourteam-con">
							<div class="ourteam-img">
								<img src="@Url.Content("/assets/images/ourteam-img2.png")" alt="">
								<span class="ourteam-logo"><img src="@Url.Content("/assets/images/outlogo.svg")" alt=""></span>
							</div>
							<div class="thm-heading">
								<h3>Luna Ava</h3>
								<p>Head of Operations</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-6">
						<div class="ourteam-con">
							<div class="ourteam-img">
								<img src="@Url.Content("/assets/images/ourteam-img3.png")" alt="">
								<span class="ourteam-logo"><img src="@Url.Content("/assets/images/outlogo.svg")" alt=""></span>
							</div>
							<div class="thm-heading">
								<h3>Luna Ava</h3>
								<p>Head of Operations</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>