
@{
    ViewData["Title"] = "Webdevelopment";
}

<section class="services-wrapper bg-transparent  webdevelopment-wrapper ">
	<div class="container">
		<div class="webdevelopment-sec ">
			<div class="webdevelopment-banner text-center">
				<button class="thm-btn bg-dark m-auto">Web Development</button>
				<div class="thm-heading">
					<h2>Race into the World of McLaren Racing: The Ultimate Course for Motorsport Fanatics</h2>
				</div>
				<div class="blog-list-sub justify-content-center">
					<div class="contact-list-con">
						<img src="@Url.Content("/assets/images/author-icon.svg")" alt="">
						<span>Author Name</span>
					</div>
					<div class="contact-list-con">
						<img src="@Url.Content("/assets/images/dates-icon.svg")" alt="">
						<span>05 June 2024</span>
					</div>
				</div>
				<div class="webdevelopment-banner-img">
					<img src="@Url.Content("/assets/images/banner-portfolio-bg.jpg")" alt="">
				</div>
			</div>
			<div class="webdevelopment-list">
				<div class="row">
					<div class="col-lg-4">
						<div class="webdevelopment-item thm-heading">
							<h3>Table Of Content</h3>
						</div>
						<div class="webdevelopment-item-list">
							<ul>
								<li>Non blandit massa enim nec scelerisque</li>
								<li>Blandit massa enim nec scelerisque</li>
								<li>Massa enim nec scelerisque assa enim nec scelerisque</li>
								<li>Non blandit massa enim nec scelerisque</li>
								<li>Blandit massa enim nec scelerisque</li>
								<li>Massa enim nec scelerisque assa enim nec scelerisque</li>
							</ul>
						</div>
					</div>
					<div class="col-lg-8">
						<div class="webdevelopment-item thm-heading webdevelopment-right">
							<h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</h4>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
								incididunt ut labore et dolore magna aliqua. Non blandit massa enim nec. Scelerisque
								viverra mauris in aliquam sem. At risus viverra adipiscing at in tellus. Sociis
								natoque penatibus et magnis dis parturient montes. Ridiculus mus mauris vitae
								ultricies leo. Neque egestas congue quisque egestas diam. Risus in hendrerit gravida
								rutrum quisque non.
							</p>
						</div>
						<div class="webdevelopment-item thm-heading webdevelopment-right">
							<h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</h4>

							<div class="webdevelopment-item-list">
								<ul>
									<li>Lorem ipsum dolor sit amet</li>
									<li>Non blandit massa enim nec scelerisque</li>
									<li>Neque egestas congue quisque egestas</li>

								</ul>
							</div>
						</div>
						<div class="webdevelopment-item thm-heading webdevelopment-right">
							<h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</h4>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
								incididunt ut labore et dolore magna aliqua. Non blandit massa enim nec. Scelerisque
								viverra mauris in aliquam sem. At risus viverra adipiscing at in tellus. Sociis
								natoque penatibus et magnis dis parturient montes. Ridiculus mus mauris vitae
								ultricies leo. Neque egestas congue quisque egestas diam. Risus in hendrerit gravida
								rutrum quisque non.
							</p>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
								incididunt ut labore et dolore magna aliqua. Non blandit massa enim nec. Scelerisque
								viverra mauris in aliquam sem. At risus viverra adipiscing at in tellus. Sociis
								natoque penatibus et magnis dis parturient montes. Ridiculus mus mauris vitae
								ultricies leo. Neque egestas congue quisque egestas diam. Risus in hendrerit gravida
								rutrum quisque non.
							</p>
							<div class="webdevelopment-item-list">
								<ul>
									<li>Lorem ipsum dolor sit amet</li>
									<li>Non blandit massa enim nec scelerisque</li>
									<li>Neque egestas congue quisque egestas</li>

								</ul>
							</div>
						</div>
						<div class="webdevelopment-item thm-heading webdevelopment-right">
							<div class="webdevelopment-banner-img">
								<img src="@Url.Content("/assets/images/webdevelopment-img.jpg")" alt="">
							</div>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
								incididunt ut labore et dolore magna aliqua. Non blandit massa enim nec. Scelerisque
								viverra mauris in aliquam sem.
							</p>
						</div>
						<div class="webdevelopment-item thm-heading webdevelopment-right">
							<h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</h4>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
								incididunt ut labore et dolore magna aliqua. Non blandit massa enim nec. Scelerisque
								viverra mauris in aliquam sem. At risus viverra adipiscing at in tellus. Sociis
								natoque penatibus et magnis dis parturient montes. Ridiculus mus mauris vitae
								ultricies leo. Neque egestas congue quisque egestas diam. Risus in hendrerit gravida
								rutrum quisque non.
							</p>
							<div class="webdevelopment-banner-img">
								<img src="@Url.Content("/assets/images/webdevelopment-img.jpg")" alt="">
							</div>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
								incididunt ut labore et dolore magna aliqua. Non blandit massa enim nec. Scelerisque
								viverra mauris in aliquam sem. At risus viverra adipiscing at in tellus. Sociis
								natoque penatibus et magnis dis parturient montes. Ridiculus mus mauris vitae
								ultricies leo. Neque egestas congue quisque egestas diam. Risus in hendrerit gravida
								rutrum quisque non.
							</p>
							<div class="webdevelopment-item-list">
								<ul>
									<li>Lorem ipsum dolor sit amet</li>
									<li>Non blandit massa enim nec scelerisque</li>
									<li>Neque egestas congue quisque egestas</li>

								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
